extends layout
block content
    div#sidebar
        div#sidebar-nav
            div.sidebar-avatar
                img(src='images/physician_avatar.png' width="55px").img-circle.img-responsive.center-block
                p   Department <br />of <br />Something
            div.sidebar-links
                ul.nav.nav-stacked.navTab
                    li
                        a(href="#") Link 1
                    li.active
                        a(href='#') Link 2
                    li
                        a(href='#') Link 3
            div.sidebar-settings
                ul.nav.nav-stacked
                    li
                        img(src="images/settings.png" width="40px").img-responsive.center-block
                    li v0.1
    div.content